* {
	font-family: "Fraunces", serif;
}

body {
	margin: 0;
	background-color: #224870;
	height: 100vh;
}
.gameTitle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: black;
	color: white;
	align-content: center;
}
p{
	text-align: center;
	color: white;
	background: black;
}
.level{
	color:white;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	visibility: visible;
}
.juego { 
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	visibility: hidden;
}
.configuration { 
	color: white;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	visibility: hidden;
}
.container {
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}

button {
	cursor: pointer;
	margin: 5px;
	padding: 0;
	border-radius: 32px;
	font-size: 1.5em;
	border: none;
	background-color: #00916e;
	box-shadow: 5px 5px 10px -3px #00000040, -5px -5px 15px 3px #00ffc11f;
}

button:active {
	background-color: #006f54;
}

button:focus {
	outline: none;
}
